{% extends "layouts/base.njk" %}

{% block title %}Pixmart | Digital Assets Marketplace{% endblock %}

{% block content %}



  {# Hero Section #}
  {% include "partials/hero.njk" %}

  {# Icon Row Section #}
  {% include "partials/icon-row.njk" %}

  {# Categories Section #}
  {% include "partials/categories.njk" %}

  {# Products Section #}
  {% include "partials/products.njk" %}

  {# Pricing Section #}
  {% include "partials/pricing.njk" %}

  {# FAQ Section #}
  {% include "partials/faq.njk" %}

  {# Blog Section (if needed, you can rename this file if your partial is not blog.njk) #}
  {% include "partials/blog.njk" %}


{% endblock %}