<section class="faq-section">
  <div class="faq-left">
    <p>F.A.Q</p>
    <h2 class="faq-left--ans">Answers to Your Questions</h2>
    <button>Ask Us A Question</button>
  </div>

  <div class="faq-right">
    <div class="accordion-active">
      <h4>How do I access my purchased products?<span>▴</span></h4>
      <div class="accordion-content">
        Accessing your purchased products is seamless and hassle-free. Simply log in, go to 'My Purchases', and download your assets.
      </div>
    </div>

    <div class="accordion"><h4>Can I request a refund?<span>▾</span></h4></div>
    <div class="accordion"><h4>Are there any discounts for bulk purchases?<span>▾</span></h4></div>
    <div class="accordion"><h4>What payment methods do you accept?<span>▾</span></h4></div>
    <div class="accordion"><h4>Can I sell my products on Pixmart?<span>▾</span></h4></div>
  </div>
</section>
