<section class="hero">
  <div class="hero-left">
    <h1>Craft Your <br />Success with <br /><span>Digital</span> Assets</h1>
    <p>From our inspiring illustrations to dynamic UI/UX kits, elevate your projects with our premium digital design resources.</p>
    <div class="hero-buttons">
      <button class="btn btn-primary">Shop Now</button>
      <button class="btn btn-secondary">Watch About Us</button>
    </div>
  </div>
  <div class="hero-right">
    <div class="a-hero"><img src="/img/a-hero-2x.webp" alt="man" /></div>
    <div class="b-hero"><img src="/img/b-hero-2x.webp" alt="woman with laptop" /></div>
    <div class="c-hero"><img src="/img/c-hero-2x.webp" alt="event image" /></div>
  </div>
</section>
