<section class="icon-row">
  <div class="icon-card">
    <img src="/img/icons/Ui-kit.svg" alt="UI Kits" />
    <p>UI Kits</p>
  </div>
  <div class="icon-card">
    <img src="/img/icons/social-media.svg" alt="Social Media" />
    <p>Social Media</p>
  </div>
  <div class="icon-card">
    <img src="/img/icons/presenation.svg" alt="Presentation" />
    <p>Presentation</p>
  </div>
  <div class="icon-card">
    <img src="/img/icons/font.svg" alt="Fonts" />
    <p>Fonts</p>
  </div>
  <div class="icon-card">
    <img src="/img/icons/Illustration.svg" alt="Illustrations" />
    <p>Illustrations</p>
  </div>
</section>
