<header class="navbar">
  <div class="navbar-left">
    <div class="logo">Pixmart.</div>
    <nav class="nav-links">
      <a href="#">About</a>
      <a href="#">Products</a>
      <a href="#">Creators</a>
      <a href="#">Blog</a>
      <a href="#">Contact</a>
    </nav>
  </div>
  <div class="navbar-right">
    <div class="search-container">
      <input type="text" placeholder="Search for Digital Assets" />
      <button class="search-btn">
        <img src="/img/icons/search-icon.svg" alt="Search" />
      </button>
    </div>
  </div>
</header>
